@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-list::-webkit-scrollbar {
  width: 6px;
}

.scrollable-list::-webkit-scrollbar-track {
  background: rgba(150, 200, 160, 0.6);
  border-radius: 9999px;
  margin: 10px 0;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background: rgba(150, 200, 160, 0.6);
  border-radius: 9999px;
  border: 1px solid rgba(150, 200, 160, 0.6);
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 139, 110, 0.8);
}

.scrollable-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(68, 113, 89, 0.6) rgba(85, 139, 110, 0.8);
}